body{
	background-image: url('obrazky/galaxy_2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	color:  #f8f6f9;
}

nav{
	background-color: #d0a5c9;
	padding: 10px;
}

footer{
	clear:both;
}

h4{
	clear:both;
}

#content{
	padding-left: 20px; padding-right: 20px;
}

#main{
	background-color: #411e7a;
	margin: 20px;
	padding: 5px 20px;
}

.navlink{
	padding:15px;
	color: #411e7a;
}

.tutlink{
	color:#FFFFFF;
}
.diaryEntry{
	margin-left:10px;
}

.creatureEntry{
	*float:right;
	display:inline;
	min-width:40%;
	max-width:100%;
}

.shortPageFooter{
	position: fixed;
	bottom:0;
	padding-bottom:10px;
}

.shortPage{
	margin-bottom:100px;
}

.creatureImg{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	display:inline;
	width:100%;
	min-width:100px;
	max-width:300px;
}
